# CONCOURSE
.credentials.yml

# GO
coverage.out

# macOS
.DS_Store

# Ignore binaries
**/bin/catch

# Ignore test coverage
**/test/test_coverage.txt

# Ignore binary used for docker build
**/build-push/catch
