# CONCOURSE
.credentials.yml

# GO
coverage.out

# macOS
.DS_Store

# WINDOWS
*.jpg:Zone.Identifier

# Ignore binaries
**/bin/catch-microservice

# Ignore test coverage
**/test/test_coverage.txt

# Ignore binary used for docker build
**/build/catch-microservice
